

.container{
    margin-left: 50px;
    margin-right: auto;
    justify-content: center;
    align-self: center;
}

.container table{
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.container thead tr {
    background-color: #dbc200;
    vertical-align: middle;
} 

.container tbody tr{
    vertical-align: middle;
}

h1 {
    text-align: center;
    margin: 8px;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p a{
    align-self:auto;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
}

